/target
/chain_cache/*
!/chain_cache/client_rpc_tests
!/chain_cache/get_subtree_roots_sapling
!/chain_cache/get_subtree_roots_orchard
pre_cache.txt
post_cache.txt
testnet_zebrad.toml

# ignore binaries
/fetched_resources/test_binaries/lightwalletd/lightwalletd
/fetched_resources/test_binaries/zainod/zainod
/fetched_resources/test_binaries/zcashd/zcashd
/fetched_resources/test_binaries/zcash-cli/zcash-cli
/fetched_resources/test_binaries/zebrad/zebrad
/fetched_resources/test_binaries/zingo-cli/zingo-cli
