regtest/data/zcashd/regtest/
regtest/data/lightwalletd/
regtest/data/zingo/
target
lib/target
cli/target
/testdata
/procgov
.DS_Store
*.json.txt
lib/test-data/*
!lib/test-data/README
!lib/test-data/openssl_cfg
cli/tests/data/externalwallet_coinbaseaddress.conf
cli/tests/data/lightwalletd.yml
cli/tests/data/basic_zcashd.conf