!zingolib/test-data/README
!zingolib/test-data/openssl_cfg
*.json.txt
.DS_Store
/procgov
/testdata
cobertura.xml
darkside-tests/lightwalletd_bin/
docker-ci/lightwalletd
integration-tests/regtest/bin
target
wallets/*
zingocli/regtest/bin
zingocli/regtest/data/lightwalletd/
zingocli/regtest/data/zcashd/regtest/
zingocli/regtest/data/zingo/
zingocli/regtest/logs/
zingocli/regtest/zingo-wallet.dat
zingocli/target
zingocli/tests/data/basic_zcashd.conf
zingocli/tests/data/externalwallet_coinbaseaddress.conf
zingocli/tests/data/lightwalletd.yml
zingocli/tests/times/*
zingocli/wallets/*
zingolib/target
zingolib/test-data/*
zingo-testutils/test_binaries

