[workspace]
members = [
    "zingolib",
    "zingocli",
    "zingoconfig",
    "zingo-memo",
    "zingo-testutils",
    "integration-tests"
]
resolver = "2"

[workspace.dependencies]
zcash_address = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.3" }
zcash_client_backend = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.3" }
zcash_encoding = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.3" }
zcash_note_encryption = "0.4"
zcash_primitives = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.3" }
zcash_proofs = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.3" }
orchard = "0.6"
tonic-build = "0.7"
tempdir = "0.3"
portpicker = "0.1"
incrementalmerkletree = { version = "0.5" }
shardtree = "0.1"
build_utils = { path = "./build_utils" }

[profile.release]
debug = false

[profile.test]
opt-level = 3
debug = false
