[package]
name = "zingolib"
version = "0.2.0"
authors = ["zingo@zingolabs.org>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["embed_params"]
integration_test = []
embed_params = []

[dependencies]
log = "0.4.14"
http = "0.2.4"
log4rs = "1.1.1"
base64 = "0.13.0"
bytes = "0.4"
rand = "0.8.5"
http-body = "0.4.4"
hyper = { version = "0.14", features = ["full"] }
hyper-rustls = { version = "0.23", features = ["http2"] }
tonic = {version = "0.7.0", features = ["tls", "tls-roots", "tls-webpki-roots"]}
tower = { version = "0.4" }
prost = "0.10.0"
serde_json = "1.0.82"
tokio =  { version = "1.24.2", features = ["full"] }
tokio-stream = "0.1.6"
tokio-rustls = "0.23.3"
reqwest = { version = "0.11", features = ["json"] }
rustls-pemfile = "1.0.0"
tower-http = { version = "0.2", features = ["add-extension"] }
futures = "0.3.15"
hex = "0.3"
ring = "0.16.20"
json = "0.12.4"
webpki-roots = "0.21.0"
lazy_static = "1.4.0"
secp256k1 = "=0.21.3"
ripemd160 = "0.9.1"
sha2 = "0.9.5"
base58 = "0.1.0"
bech32 = "0.9.0"
bip0039 = "0.10.1"
sodiumoxide = "0.2.5"
byteorder = "1"
pairing = "0.22"
ff = "0.13"
jubjub = "0.10.0"
bls12_381 = "0.8"
group = "0.13"
rust-embed = { version = "6.3.0", features = ["debug-embed"] }
orchard = "0.2.0"
subtle = "2.4.1"
incrementalmerkletree = "0.3.0"
zcash_address = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346"}
zcash_primitives = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346", features = ["transparent-inputs", "test-dependencies"] }
zcash_client_backend = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346"}
zcash_proofs = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346", features = ["multicore"]}
zcash_encoding = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346"}
zcash_note_encryption = { git = "https://github.com/zingolabs/librustzcash", rev = "d66f7f70516e6da5c24008874a926d41221b1346", features = ["pre-zip-212"]}
zingoconfig = { path = "../zingoconfig" }
zingo-memo = { path = "../zingo-memo" }
nonempty = "0.7.0"
tracing-subscriber = "0.3.15"
tracing = "0.1.36"

[dev-dependencies]
portpicker = "0.1.0"
tempfile = "3.3.0"
concat-idents = "1.1.3"

[build-dependencies]
tonic-build = "0.7.0"
