[package]
name = "zingolib"
version = "0.2.0"
authors = ["zingo@zingolabs.org>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
deprecations = ["lightclient-deprecated"]
lightclient-deprecated = []
darkside_tests = []
zip317 = []

[dependencies]
zingoconfig = { path = "../zingoconfig" }
zingo-memo = { path = "../zingo-memo" }
zingo-status = { path = "../zingo-status" }
zingo-netutils = { path = "../zingo-netutils" }

prost = { workspace = true }
tonic = { workspace = true }

orchard = { workspace = true }
shardtree = { workspace = true, features = ["legacy-api"] }
incrementalmerkletree = { workspace = true, features = ["test-dependencies", "legacy-api"] }
zcash_address = { workspace = true }
zcash_client_backend = { workspace = true, features = ["unstable", "transparent-inputs", "unstable-serialization", "unstable-spanning-tree"] }
zcash_encoding = { workspace = true }
zcash_keys = { workspace = true }
zcash_note_encryption = { workspace = true }
zcash_primitives = { workspace = true }
zcash_proofs = { workspace = true }
zip32.workspace = true

append-only-vec = { git = "https://github.com/zancas/append-only-vec.git", branch = "add_debug_impl" }

log = "0.4.14"
http.workspace = true
base64 = "0.13.0"
bytes = "0.4"
rand = "0.8.5"
serde_json = "1.0.82"
tokio =  { version = "1.24.2", features = ["full"] }
reqwest = { version = "0.12", features = ["json"] }
futures = { workspace = true }
hex = { workspace = true }
ring = "0.17.0"
json = "0.12.4"
lazy_static = "1.4.0"
secp256k1 = "=0.26.0"
ripemd160 = "0.9.1"
sha2 = "0.9.5"
base58 = "0.1.0"
byteorder = "1"
ff = "0.13"
jubjub = "0.10.0"
bls12_381 = "0.8"
group = "0.13"
rust-embed = { version = "6.3.0", features = ["debug-embed"] }
subtle = "2.4.1"
nonempty = "0.7"
tracing-subscriber = "0.3.15"
indoc = "2.0.1"
derive_more = "0.99.17"
serde = { version = "1.0.201", features = ["derive"] }
sapling-crypto.workspace = true
secrecy = "0.8.0"
getset = "0.1.2"
test-case = "3.3.1"
proptest = "1.4.0"
thiserror = { workspace = true }
hdwallet = "0.4.1"

[dev-dependencies]
portpicker = "0.1.0"
tempfile = "3.3.0"
concat-idents = "1.1.3"
zingo-testvectors = { path = "../zingo-testvectors" }

[build-dependencies]
build_utils = { workspace = true }
