name: CI

on:
  pull_request:
  push:
    branches: [main, dev]
  workflow_dispatch:

jobs:
  cargo-checkmate:
    uses: ./.github/workflows/cargo-checkmate.yaml

  reject-trailing-whitespace:
    name: Reject trailing whitespace
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Reject trailing whitespace
        run: ./utils/trailing-whitespace.sh reject

  build-test-artifacts:
    name: Build test artifacts
    runs-on: ubuntu-22.04
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Build and archive tests
        run: cargo nextest archive --verbose --workspace --all-features --archive-file nextest-archive.tar.zst

      - name: Upload archive
        uses: actions/upload-artifact@v3
        with:
          name: nextest-archive
          path: nextest-archive.tar.zst

  run-tests:
    name: Run tests
    runs-on: ubuntu-22.04
    needs: build-test-artifacts
    env:
      RUSTFLAGS: -D warnings
    container:
      image: zingodevops/ci-build:002
      options: --security-opt seccomp=unconfined
    strategy:
      matrix:
        partition: [1, 2, 3, 4, 5, 6, 7, 8]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Symlink lightwalletd and zcash binaries
        run: ln -s /usr/bin/lightwalletd /usr/bin/zcashd /usr/bin/zcash-cli ./zingocli/regtest/bin/

      - name: Symlink zcash parameters
        run: ln -s /root/.zcash-params /github/home

      - name: Download archive
        uses: actions/download-artifact@v3
        with:
          name: nextest-archive

      - name: Run tests
        run: |
          cargo nextest run --verbose --profile ci --archive-file nextest-archive.tar.zst \
            --workspace-remap ./ --partition count:${{ matrix.partition}}/8

