name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [stable, dev]
  workflow_dispatch:

jobs:
  cargo-checkmate:
    uses: ./.github/workflows/cargo-checkmate.yaml

  reject-trailing-whitespace:
    name: Reject trailing whitespace
    runs-on: self-hosted
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Reject trailing whitespace
        run: ./utils/trailing-whitespace.sh reject

  run-doc-tests:
    name: Run doc tests
    runs-on: self-hosted
    if: github.event.pull_request.draft == false
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install protoc
        run: |  
          if ! command -v protoc &> /dev/null; then
             sudo apt-get install -y protobuf-compiler  
          fi

      - name: Cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Run doc tests
        run: cargo test --doc

  test:
    uses: ./.github/workflows/test.yaml
    with:
      nextest-flags: "-E 'not test(slow)'"
