name: Test

on:
  workflow_call:
    inputs:
      nextest-flags:
        required: false
        type: string

env:
  NEXTEST-FLAGS: ${{ inputs.nextest-flags }}

jobs:

  run-tests:
    name: Run tests
    runs-on: ubuntu-22.04
    env:
      RUSTFLAGS: -D warnings
    container:
      image: zingodevops/ci-build:002
      options: --security-opt seccomp=unconfined
    strategy:
      matrix:
        partition: [1, 2, 3, 4, 5, 6, 7, 8]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Symlink lightwalletd and zcash binaries
        run: ln -s /usr/bin/lightwalletd /usr/bin/zcashd /usr/bin/zcash-cli ./zingocli/regtest/bin/

      - name: Symlink zcash parameters
        run: ln -s /root/.zcash-params /github/home

      - name: Download archive
        uses: actions/download-artifact@v3
        with:
          name: nextest-archive

      - name: Run tests
        run: |
          cargo nextest run --verbose --profile ci --archive-file nextest-archive.tar.zst \
            --workspace-remap ./ --partition count:${{ matrix.partition }}/8 ${{ env.NEXTEST-FLAGS }}

